<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/register-user.scss">
    <title>Riwi Data Leaker Gates</title>
</head>
<body>
  <header>
    <section class="header-title-container">
        <h1 class="header-title">Riwi Data Leaker Gates</h1>
    </section>
  </header>
    <main class="container container-register">
        <form class="container register-form">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Registrame</button>
            <a href="../../index.html">Login</a>
          </form>
    </main>
   
    <script type="module" src="../controllers/register-user.ts"></script>
</body>
</html>